td {

    .icon,
    .cart {
        font-size: 18px;
        cursor: pointer;
        padding: 8px;
        margin: 0 6px; // spacing between them
        color: #555;
        transition: 0.2s ease;

        &:hover {
            color: #ff6a00;
            transform: scale(1.1);
        }
    }

    .icon i,
    .cart i {
        pointer-events: none;
    }
}