<div class="topbar-wrapper bg-light border-bottom py-4">
    <div class="container fs-5">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12 text-center text-md-start">
                <ul class="list-inline mb-0 small fs-6">
                    <li class="list-inline-item me-3 fw-semibold">
                        Alibaba Store
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-phone me-1"></i>
                        {{ "call-us" }} :<strong> +91 9328551019</strong>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-6 col-12 text-center text-md-end mt-2 mt-md-0">
                <ul class="list-inline mb-0 small fs-6">
                    <li class="list-inline-item me-3">
                        <a routerLink="/home/compare" class="text-decoration-none text-dark">
                            <i class="fa fa-random me-1"></i>
                            {{ "compare" }}
                        </a>
                    </li>

                    <li class="list-inline-item me-3">
                        <a routerLink="/home/wishlist" class="text-decoration-none text-dark">
                            <i class="fa fa-heart me-1"></i>
                            {{ "wishlist" }}
                        </a>
                    </li>
                    
                    <li class="list-inline-item me-2">
                        <a routerLink="/pages/login" class="btn btn-outline-dark btn-sm">
                            {{ 'login' }}
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a routerLink="/pages/register" class="btn btn-dark btn-sm">
                            {{ 'register' }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>