<div class="row">
    <div class="col-lg-6">
        <div class="header-contact">
            <ul>
                <li>{{'topbar-title'}}</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>{{'call-us'}} : 8376817046</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-end">
        <ul class="header-dropdown">
            <li class="onhover-dropdown mobile-account">
                <i class="fa fa-user pl-2" aria-hidden="true"></i> {{'my-account'}}
                <ul class="onhover-show-div">
                    <li>
                        <a routerLink="/pages/login">
                            {{'login'}}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/pages/login">
                            {{'logout'}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>