.payment-card-bottom {
    ul {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            img {
                width: 40px; // icon size
                height: auto;
                object-fit: contain;
            }
        }
    }
}

// Mobile view
@media (max-width: 576px) {
    .payment-card-bottom ul li img {
        width: 28px;
    }
}