<header>
  <div class="logo">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/npm/remixicon@4.8.0/icons/Editor/sketching.svg" type="image/x-icon">
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="home/shop">Home</a></li>
      <li><a routerLink="home/cart">Cart</a></li>
      <li><a routerLink="home/compare">Compare</a></li>
      <li><a routerLink="home/wishlist">WishList</a></li>
    </ul>
  </div>
</header>

<div class="content">
  <div class="men common" #commonSection>
    <div class="img">
      <img src="assets/images/landingpage/wall4.jpg" alt="Mens Clothings">
      <div class="image-overLay"></div>
    </div>
    <div class="text">
      <h1>Men</h1>
      <h5>Fashion</h5>
    </div>
    <div class="btn">
      <a routerLink="home/shop">Shop Now</a>
    </div>
  </div>
  <div class="Women common" #commonSection>
    <div class="img">
      <img src="assets/images/landingpage/wall3.jpg" alt="Womens Clothings">
      <div class="image-overLay"></div>
    </div>
    <div class="text">
      <h1>Women</h1>
      <h5>Fashion</h5>
    </div>
    <div class="btn">
      <a routerLink="home/shop">Shop Now</a>
    </div>
  </div>
</div>
