<div class="icon-nav">
    <ul>
        <li class="onhover-div mobile-setting">
            <div><img src="assets/icon/settings.png" class="img-fluid" style="height: 25px; width: 25px;" alt="">
                <i class="ti-settings"></i>
            </div>
            <div class="show-div setting">
                <h6>language</h6>
                <ul>
                    <li><a (click)="changeLang('en')">English</a> </li>
                    <li><a (click)="changeLang('hi')">Hindi</a> </li>
                </ul>
            </div>
        </li>
    </ul>
</div>