@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../assets/scss/theme.scss';
@import 'css/themify-icons.css';
@import '../../node_modules/ngx-bar-rating/themes/br-default-theme.scss';